<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cancel Payment</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <form action="register_user" method="post">
		<h2 align="center">Cancel Payment</h2>
		<hr />
		<table align="center">
			<tr>
				<td><a href="/shopHome">Back</a> to shop</td>
			</tr>
		</table>
	</form>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>