<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>User Error</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body {
            background-color: #f8f9fa;
        }
        .error-container {
            margin-top: 100px;
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .error-title {
            color: #dc3545;
        }
        .btn-back {
            margin-top: 20px;
        }
	</style>
</head>
<body>
<div class="container">
	<div class="error-container text-center">
		<h1 class="error-title">User Error:</h1>
		<hr/>
		<h3>
			<small th:text="${message}"></small>
		</h3>
		<a href="/" class="btn btn-primary btn-back">Back to Login Page</a>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
